
            <div class="slider-container">
                <div class="slider-wrapper container">
                    <div class="slider-left">
                        We make your house feel like home
                    </div>
                    <div class="slider-right">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <a href="#">
                                        <img src="http://houzome.com/assets/banner_image2-4d53374465844e127b68695c268431e6fd13524b168ec70c50bd22e88afe476b.jpg" alt="Banner" />
                                        <div class="carousel-caption">
                                            1Urbana Aqua 2 Banglore
                                        </div>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="http://houzome.com/assets/banner_image2-4d53374465844e127b68695c268431e6fd13524b168ec70c50bd22e88afe476b.jpg" alt="Banner" />
                                        <div class="carousel-caption">
                                            2Urbana Aqua 2 Banglore
                                        </div>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="http://houzome.com/assets/banner_image2-4d53374465844e127b68695c268431e6fd13524b168ec70c50bd22e88afe476b.jpg" alt="Banner" />
                                        <div class="carousel-caption">
                                            3Urbana Aqua 2 Banglore
                                        </div>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="http://houzome.com/assets/banner_image2-4d53374465844e127b68695c268431e6fd13524b168ec70c50bd22e88afe476b.jpg" alt="Banner" />
                                        <div class="carousel-caption">
                                            4Urbana Aqua 2 Banglore
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="promotional-msg-container">
                <div class="promotional-msg container">
                    <!--<img src="" alt="Promotional Message" height="100" width="500"/>-->
                    <!--<div class="msg-wrap-scroll">-->
                    <div class="msg-wrap"><h1>My city and apartment</h1></div>
                    <!--</div>-->
                </div>
            </div>
            <div class="clearfix"></div>

            <!--[**start::House To Home Story Of the Week**]-->
            <div class="story-container">
                <div class="story-wrapper container">
                    <div class="inspired-left left">
                        <!--<h2>Get Inspired</h2>-->
                        <div class="homebox1 homebox">
                            <a class="flex-box" href="javascript:void(0)">
                                <img alt="B1 ea746662a6ff3d17771b3317be2f65b045cc61802f6df0980b8fc83a72dba0c1" src="http://houzome.com/assets/b1-ea746662a6ff3d17771b3317be2f65b045cc61802f6df0980b8fc83a72dba0c1.png">
                                <h1 class="flex-title">Design Your Dream</h1>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="homebox2 homebox">
                            <a class="flex-box" href="javascript:void(0)">
                                <img alt="B2 bcaddeeb01835eff206441c76e2e96309c055f80cbf32142fd607ce4b9382dbc" src="http://houzome.com/assets/b2-bcaddeeb01835eff206441c76e2e96309c055f80cbf32142fd607ce4b9382dbc.png">
                                <h1 class="flex-title">Guided Journey to Unique Interior</h1>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="homebox3 homebox">
                            <a class="flex-box" href="javascript:void(0)">
                                <img alt="B3 a7be797e66ba91180ec4512b5658b9f4224601243fd806eff301d83c038990b4" src="http://houzome.com/assets/b3-a7be797e66ba91180ec4512b5658b9f4224601243fd806eff301d83c038990b4.png">
                                <h1 class="flex-title">Options for Personalised Interior</h1>
                            </a>
                        </div>
                    </div>
                    <div class="inspired-right right">
                        <!--<h2>House to Home – Story of the Week</h2>-->
                        <div id="carousel" class="carousel slide" data-ride="carousel">
                            <h2>House to Home – Story of the Week</h2>
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel" data-slide-to="1"></li>
                                <li data-target="#carousel" data-slide-to="2"></li>
                                <li data-target="#carousel" data-slide-to="3"></li>
                                <li data-target="#carousel" data-slide-to="4"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <div class="carousel-caption">
                                        <div class="client-photo">
                                            <img src="../images/DN Sharma.jpg" style="border:1px solid #f2f2f2; width:80px; height: 80px;" alt="client" />
                                            <div class="client-name">
                                                <span>D N Sharma</span>
                                                <span>Patna</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="client-quote">
                                            <p>“We were looking for a colorful rajasthani style living room and a modern kitchen. It was so tough to find in Patna. But Vijay Ji from Houzome made it possible for us!”
                                            </p>
                                            <div class="more">
                                                <a href="#" data-toggle="modal" data-target="#myModal1">
                                                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>More
                                                </a>
                                            </div>
                                        </div>
                                        <!--<div class="clearfix"></div>-->
                                        <!--                                        <div class="more">
                                                                                    <a href="#" data-toggle="modal" data-target="#myModal1">
                                                                                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>More
                                                                                    </a>
                                                                                </div>-->
                                        <div class="clearfix"></div>
                                    </div>
                                    <img src="../images/Picture1.jpg" alt="Kitchen" />
                                </div>

                                <div class="item">
                                    <div class="carousel-caption">
                                        <div class="client-photo">
                                            <img src="../images/VishalSinha.jpg" style="border:1px solid #f2f2f2; width:80px; height: 80px;" alt="client" />
                                            <div class="client-name">
                                                <span>Vishal Sinha</span>
                                                <span>Bengaluru</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="client-quote">
                                            <p>“I was struggling to find all the guys who will do my interior... having to talk to so many different

                                                vendors for every single thing... Mr. Sanjeet of Houzome has been a great help in putting it all

                                                together... I can see my house being done in quick time, based on what I wanted and with

                                                assured quality... I am waiting to see it finish and move into it ... thanks Sanjeet!”
                                            </p>
                                            <div class="more">
                                                <a href="#" data-toggle="modal" data-target="#myModal2">
                                                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>More
                                                </a>
                                            </div>
                                        </div>
                                        <!--                                        <div class="clearfix"></div>
                                                                                <div class="more">
                                                                                    <a href="#" data-toggle="modal" data-target="#myModal2">
                                                                                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>More
                                                                                    </a>
                                                                                </div>-->
                                        <div class="clearfix"></div>
                                    </div>
                                    <img src="../images/picture2.jpg" alt="Kitchen" />
                                </div>

                                <div class="item">
                                    <div class="carousel-caption">
                                        <div class="client-photo">
                                            <img src="../images/testimonials-default-pic.png" style="border:1px solid #f2f2f2; width:80px; height: 80px;" alt="client" />
                                            <div class="client-name">
                                                <span>Meghana Krishnan</span>
                                                <span>Rajajinagar, Bangalore</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="client-quote">
                                            <p>“We were looking for a colorful rajasthani style living room and a modern kitchen. It was so tough to find in Patna. But Vijay Ji from Houzome made it possible for us!”
                                            </p>
                                            <div class="more">
                                                <a href="#" data-toggle="modal" data-target="#myModal3">
                                                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>More
                                                </a>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <img src="../images/kitchen3.jpg" alt="Kitchen" />
                                </div>

                                <div class="item">
                                    <div class="carousel-caption">
                                        <div class="client-photo">
                                            <img src="../images/testimonials-default-pic.png" style="border:1px solid #f2f2f2; width:80px; height: 80px;" alt="client" />
                                            <div class="client-name">
                                                <span>Meghana Krishnan</span>
                                                <span>Rajajinagar, Bangalore</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="client-quote">
                                            <p>“We were looking for a colorful rajasthani style living room and a modern kitchen. It was so tough to find in Patna. But Vijay Ji from Houzome made it possible for us!”
                                            </p>
                                            <div class="more">
                                                <a href="#" data-toggle="modal" data-target="#myModal4">
                                                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>More
                                                </a>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <img src="../images/kitchen4.jpg" alt="Kitchen" />
                                </div>

                                <div class="item">
                                    <div class="carousel-caption">
                                        <div class="client-photo">
                                            <img src="../images/testimonials-default-pic.png" style="border:1px solid #f2f2f2; width:80px; height: 80px;" alt="client" />
                                            <div class="client-name">
                                                <span>Meghana Krishnan</span>
                                                <span>Rajajinagar, Bangalore</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="client-quote">
                                            <p>“We were looking for a colorful rajasthani style living room and a modern kitchen. It was so tough to find in Patna. But Vijay Ji from Houzome made it possible for us!”
                                            </p>
                                            <div class="more">
                                                <a href="#" data-toggle="modal" data-target="#myModal5">
                                                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>More
                                                </a>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <img src="../images/kitchen5.jpg" alt="Kitchen" />
                                </div>

                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--[**end::House To Home Story Of the Week**]-->
            <!--[**start::Each Story Of the Week Popup**]style="display:none"-->

            <div class="inspired-right modal-inspired right">
                <!-- Modal Start-->
                <div class="modal fade in bs-example-modal-lg" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
                            </div>
                            <div class="modal-body">

                                <div id="carousel_modal1" class="carousel slide left" data-ride="carousel">
                                    <!--                                    <ol class="carousel-indicators">
                                                                            <li data-target="#carousel_modal1" data-slide-to="0" class="active"></li>
                                                                            <li data-target="#carousel_modal1" data-slide-to="1"></li>
                                                                            <li data-target="#carousel_modal1" data-slide-to="2"></li>
                                                                            <li data-target="#carousel_modal1" data-slide-to="3"></li>
                                                                            <li data-target="#carousel_modal1" data-slide-to="4"></li>
                                                                        </ol>-->

                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <img src="../images/Picture1.jpg" alt="Kitchen" />
                                        </div>

                                        <!--                                        <div class="item">
                                                                                    <img src="../images/Picture1.jpg" alt="Kitchen" />
                                                                                </div>

                                                                                <div class="item">
                                                                                    <img src="../images/Picture1.jpg" alt="Kitchen" />
                                                                                </div>

                                                                                <div class="item">
                                                                                    <img src="../images/Picture1.jpg" alt="Kitchen" />
                                                                                </div>

                                                                                <div class="item">
                                                                                    <img src="../images/Picture1.jpg" alt="Kitchen" />
                                                                                </div>-->

                                    </div>
                                    <!--                                    <a class="left carousel-control" href="#carousel_modal1" role="button" data-slide="prev">
                                                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                                            <span class="sr-only">Previous</span>
                                                                        </a>
                                                                        <a class="right carousel-control" href="#carousel_modal1" role="button" data-slide="next">
                                                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                                            <span class="sr-only">Next</span>
                                                                        </a>-->
                                </div>
                                <div class="customer-info right">
                                    <div class="client-photo">
                                        <img src="../images/DN Sharma.jpg" style="border:1px solid #f2f2f2; width:80px; height: 80px;" alt="client" />
                                        <div class="client-name">
                                            <span>DN Sharma</span>
                                            <span>Patna</span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="client-quote">
                                        <p>“We were looking for a colorful rajasthani style living room and a modern kitchen. It was so tough to find in Patna. But Vijay Ji from Houzome made it possible for us!”
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <!--                                    <div class="more">
                                                                            <a href="#" data-toggle="modal" data-target="#myModal1">
                                                                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>View more customer testimonials
                                                                            </a>
                                                                        </div>-->
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <!--                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                    <button type="button" class="btn btn-primary">Save changes</button>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal End-->
                <!-- Modal Start-->
                <div class="modal fade in bs-example-modal-lg" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
                            </div>
                            <div class="modal-body">

                                <div id="carousel_modal2" class="carousel slide left" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel_modal2" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel_modal2" data-slide-to="1"></li>
                                        <li data-target="#carousel_modal2" data-slide-to="2"></li>
                                        <li data-target="#carousel_modal2" data-slide-to="3"></li>
                                        <li data-target="#carousel_modal2" data-slide-to="4"></li>
                                    </ol>

                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <img src="../images/DSC01467-min.jpg" alt="Kitchen" />
                                        </div>

                                        <div class="item">
                                            <img src="../images/picture2.jpg" alt="Kitchen" />
                                        </div>

                                        <div class="item">
                                            <img src="../images/DSC01480-min.jpg" alt="Kitchen" />
                                        </div>

                                        <div class="item">
                                            <img src="../images/DSC01491-min.jpg" alt="Kitchen" />
                                        </div>

                                        <div class="item">
                                            <img src="../images/DSC01497-min.jpg" alt="Kitchen" />
                                        </div>

                                    </div>
                                    <a class="left carousel-control" href="#carousel_modal2" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel_modal2" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <div class="customer-info right">
                                    <div class="client-photo">
                                        <img src="../images/VishalSinha.jpg" style="border:1px solid #f2f2f2; width:80px; height: 80px;" alt="client" />
                                        <div class="client-name">
                                            <span>Vishal Sinha</span>
                                            <span>Bengaluru</span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="client-quote">
                                        <p>“I was struggling to find all the guys who will do my interior... having to talk to so many different

                                            vendors for every single thing... Mr. Sanjeet of Houzome has been a great help in putting it all

                                            together... I can see my house being done in quick time, based on what I wanted and with

                                            assured quality... I am waiting to see it finish and move into it ... thanks Sanjeet!”
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <!--                                    <div class="more">
                                                                            <a href="#">
                                                                                View more customer testimonials
                                                                            </a>
                                                                        </div>-->
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <!--                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                    <button type="button" class="btn btn-primary">Save changes</button>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal End-->
                <!-- Modal Start-->
                <div class="modal fade in bs-example-modal-lg" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
                            </div>
                            <div class="modal-body">

                                <div id="carousel_modal3" class="carousel slide left" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel_modal3" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel_modal3" data-slide-to="1"></li>
                                        <li data-target="#carousel_modal3" data-slide-to="2"></li>
                                        <li data-target="#carousel_modal3" data-slide-to="3"></li>
                                        <li data-target="#carousel_modal3" data-slide-to="4"></li>
                                    </ol>

                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <img src="../images/kitchen1.jpg" alt="Kitchen" />
                                        </div>

                                        <div class="item">
                                            <img src="../images/kitchen2.jpg" alt="Kitchen" />
                                        </div>

                                        <div class="item">
                                            <img src="../images/kitchen3.jpg" alt="Kitchen" />
                                        </div>

                                        <div class="item">
                                            <img src="../images/kitchen4.jpg" alt="Kitchen" />
                                        </div>

                                        <div class="item">
                                            <img src="../images/kitchen5.jpg" alt="Kitchen" />
                                        </div>

                                    </div>
                                    <a class="left carousel-control" href="#carousel_modal3" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel_modal3" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <div class="customer-info right">
                                    <div class="client-photo">
                                        <img src="../images/testimonials-default-pic.png" style="border:1px solid #f2f2f2; width:80px; height: 80px;" alt="client" />
                                        <div class="client-name">
                                            <span>Meghana Krishnan</span>
                                            <span>Rajajinagar, Bangalore</span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="client-quote">
                                        <p>I was struggling to find all the guys who will do my interior... having to talk to so many different vendors for every single thing...
                                            Mr. Sanjeet of Houzome has been a great help in putting it all together... I can see my house being done in quick time, based on what I wanted and with assured quality...
                                            I am waiting to see it finish and move into it ... thanks Sanjeet!</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <!--                                    <div class="more">
                                                                            <a href="#">
                                                                                View more customer testimonials
                                                                            </a>
                                                                        </div>-->
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <!--                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                    <button type="button" class="btn btn-primary">Save changes</button>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal End-->
                <!-- Modal Start-->
                <div class="modal fade in bs-example-modal-lg" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
                            </div>
                            <div class="modal-body">

                                <div id="carousel_modal4" class="carousel slide left" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel_modal4" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel_modal4" data-slide-to="1"></li>
                                        <li data-target="#carousel_modal4" data-slide-to="2"></li>
                                        <li data-target="#carousel_modal4" data-slide-to="3"></li>
                                        <li data-target="#carousel_modal4" data-slide-to="4"></li>
                                    </ol>

                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <img src="../images/kitchen1.jpg" alt="Kitchen" />
                                        </div>

                                        <div class="item">
                                            <img src="../images/kitchen2.jpg" alt="Kitchen" />
                                        </div>

                                        <div class="item">
                                            <img src="../images/kitchen3.jpg" alt="Kitchen" />
                                        </div>

                                        <div class="item">
                                            <img src="../images/kitchen4.jpg" alt="Kitchen" />
                                        </div>

                                        <div class="item">
                                            <img src="../images/kitchen5.jpg" alt="Kitchen" />
                                        </div>

                                    </div>
                                    <a class="left carousel-control" href="#carousel_modal4" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel_modal4" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <div class="customer-info right">
                                    <div class="client-photo">
                                        <img src="../images/testimonials-default-pic.png" style="border:1px solid #f2f2f2; width:80px; height: 80px;" alt="client" />
                                        <div class="client-name">
                                            <span>Meghana Krishnan</span>
                                            <span>Rajajinagar, Bangalore</span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="client-quote">
                                        <p>I was struggling to find all the guys who will do my interior... having to talk to so many different vendors for every single thing...
                                            Mr. Sanjeet of Houzome has been a great help in putting it all together... I can see my house being done in quick time, based on what I wanted and with assured quality...
                                            I am waiting to see it finish and move into it ... thanks Sanjeet!</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <!--                                    <div class="more">
                                                                            <a href="#">
                                                                                View more customer testimonials
                                                                            </a>
                                                                        </div>-->
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <!--                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                    <button type="button" class="btn btn-primary">Save changes</button>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal End-->
                <!-- Modal Start-->
                <div class="modal fade in bs-example-modal-lg" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
                            </div>
                            <div class="modal-body">

                                <div id="carousel_modal5" class="carousel slide left" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel_modal5" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel_modal5" data-slide-to="1"></li>
                                        <li data-target="#carousel_modal5" data-slide-to="2"></li>
                                        <li data-target="#carousel_modal5" data-slide-to="3"></li>
                                        <li data-target="#carousel_modal5" data-slide-to="4"></li>
                                    </ol>

                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <img src="../images/kitchen1.jpg" alt="Kitchen" />
                                        </div>

                                        <div class="item">
                                            <img src="../images/kitchen2.jpg" alt="Kitchen" />
                                        </div>

                                        <div class="item">
                                            <img src="../images/kitchen3.jpg" alt="Kitchen" />
                                        </div>

                                        <div class="item">
                                            <img src="../images/kitchen4.jpg" alt="Kitchen" />
                                        </div>

                                        <div class="item">
                                            <img src="../images/kitchen5.jpg" alt="Kitchen" />
                                        </div>

                                    </div>
                                    <a class="left carousel-control" href="#carousel_modal5" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel_modal5" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <div class="customer-info right">
                                    <div class="client-photo">
                                        <img src="../images/testimonials-default-pic.png" style="border:1px solid #f2f2f2; width:80px; height: 80px;" alt="client" />
                                        <div class="client-name">
                                            <span>Meghana Krishnan</span>
                                            <span>Rajajinagar, Bangalore</span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="client-quote">
                                        <p>I was struggling to find all the guys who will do my interior... having to talk to so many different vendors for every single thing...
                                            Mr. Sanjeet of Houzome has been a great help in putting it all together... I can see my house being done in quick time, based on what I wanted and with assured quality...
                                            I am waiting to see it finish and move into it ... thanks Sanjeet!</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <!--                                    <div class="more">
                                                                            <a href="#">
                                                                                View more customer testimonials
                                                                            </a>
                                                                        </div>-->
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <!--                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                    <button type="button" class="btn btn-primary">Save changes</button>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal End-->
            </div>

            <!--[**end::Each Story Of the Week Popup**]-->
            <div class="clearfix"></div>

            <div class="design-idea-container">

                <div id="apartments" class="container">
                    <h1 class="title">Design Ideas</h1>
                    <div class="apartment-main">
                        <div class="each">
                            <div class="hover-tile-outer">
                                <a href="product_description.html"><img src="../images/kitchen1.jpg" alt="apartment" height="258" width="360"></a>
                            </div>
                            <div class="design-info">
                                <h4>Modern Classic</h4>
                                <p>3 BHK starting Rs. 6,00,000</p>
                            </div>
                        </div>
                        <div class="each">
                            <!--<div class="hover-tile-outer" style="background: url(../images/kitchen2.jpg);background-size:cover">                            </div>-->
                            <div class="hover-tile-outer">
                                <a href="product_description.html"><img src="../images/kitchen2.jpg" alt="apartment" height="258" width="360"></a>
                            </div>
                            <div class="design-info">
                                <h4>Modern Classic</h4>
                                <p>3 BHK starting Rs. 6,00,000</p>
                            </div>
                        </div>
                        <div class="each">
                            <div class="hover-tile-outer">
                                <a href="product_description.html"><img src="../images/kitchen3.jpg" alt="apartment" height="258" width="360"></a>
                            </div>
                            <div class="design-info">
                                <h4>Modern Classic</h4>
                                <p>3 BHK starting Rs. 6,00,000</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="apartment-main">
                        <div class="each">
                            <div class="hover-tile-outer">
                                <a href="product_description.html"><img src="../images/kitchen4.jpg" alt="apartment" height="258" width="360"></a>
                            </div>
                            <div class="design-info">
                                <h4>Modern Classic</h4>
                                <p>3 BHK starting Rs. 6,00,000</p>
                            </div>
                        </div>
                        <div class="each">
                            <div class="hover-tile-outer">
                                <a href="product_description.html"><img src="../images/kitchen5.jpg" alt="apartment" height="258" width="360"></a>
                            </div>
                            <div class="design-info">
                                <h4>Modern Classic</h4>
                                <p>3 BHK starting Rs. 6,00,000</p>
                            </div>
                        </div>
                        <div class="each">
                            <div class="hover-tile-outer">
                                <a href="product_description.html"><img src="../images/kitchen1.jpg" alt="apartment" height="258" width="360"></a>
                            </div>
                            <div class="design-info">
                                <h4>Modern Classic</h4>
                                <p>3 BHK starting Rs. 6,00,000</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="view-more-design"><a href="view_designs.html">View more design ideas…</a></div>
                </div>

            </div>

            <div class="clearfix"></div>

            <div class="blog-container">
                <div class="container blog-content">
                    <!--<h1 class="title"><a href="">Houzome Blogs</a></h1>-->
                    <div class="blog">
                        <div class="blog-small margin-right">

                            <div class="blog-img">
                                <a href="https://houzome.wordpress.com/" target="_blank"><img src="../images/blog1.png" ></a>
                            </div>
                            <div class="blog-text">
                                <a href="https://houzome.wordpress.com/" target="_blank">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been simply dummy text of the.
                                    <span>more</span></a>
                            </div>

                        </div>
                        <div class="blog-large">
                            <div class="blog-img">
                                <a href="https://houzome.wordpress.com/" target="_blank"><img src="../images/blog2.png" ></a>
                            </div>
                            <div class="blog-text">
                                <a href="https://houzome.wordpress.com/" target="_blank">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    <span>more</span></a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="blog-large margin-right">
                            <div class="blog-img">
                                <a href="https://houzome.wordpress.com/" target="_blank"><img src="../images/blog3.png" ></a>
                            </div>
                            <div class="blog-text">
                                <a href="https://houzome.wordpress.com/" target="_blank">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    <span>more</span></a>
                            </div>
                        </div>
                        <div class="blog-small">
                            <div class="blog-img">
                                <a href="http://www.facebook.com/houzome" target="_blank"><img src="../images/blog-more.png" ></a>
                            </div>
                            <div class="blog-text">
                                <a href="https://houzome.wordpress.com/" target="_blank">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been simply dummy text of the.
                                    <span>more</span></a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="partner-container">
                <div class="container padder">
                    <h1 class="title">Our Partners</h1>
                    <div id="partners">
                        <div class="item"><a href="partner.html"><img src="http://houzome.com/assets/partner_1-ef00de7e218b4d4db067c27e8c423c6f50c65d3d11fdca9c2e33f11e8586c087.jpg" alt="Partner 1 ef00de7e218b4d4db067c27e8c423c6f50c65d3d11fdca9c2e33f11e8586c087" /></a></div>
                        <div class="item"><a href="partner.html"><img src="http://houzome.com/assets/partner_2-aeb68b6714a244e3f273e0918c1a0b14d52afc1b11c99f371589844c3e2abc9c.jpg" alt="Partner 2 aeb68b6714a244e3f273e0918c1a0b14d52afc1b11c99f371589844c3e2abc9c" /></a></div>
                        <div class="item"><a href="partner.html"><img src="http://houzome.com/assets/partner_7-9360fdabd27e6580ab79d771c3561e4d443501b8d0d13fa1e1c2ca83fd5ccbdf.jpg" alt="Partner 7 9360fdabd27e6580ab79d771c3561e4d443501b8d0d13fa1e1c2ca83fd5ccbdf" /></a></div>
                        <div class="item"><a href="partner.html"><img src="http://houzome.com/assets/partner_6-791edd5d8302c4e2281e2928de02104b790d108bb1272d5ef6917397c06182b3.jpg" alt="Partner 6 791edd5d8302c4e2281e2928de02104b790d108bb1272d5ef6917397c06182b3" /></a></div>
                        <div class="item"><a href="partner.html"><img src="http://houzome.com/assets/partner_4-e7358cc244765039fec6e31e794f8c55865533b6a01eb38d420278d91ec051f3.jpg" alt="Partner 4 e7358cc244765039fec6e31e794f8c55865533b6a01eb38d420278d91ec051f3" /></a></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>