<div class="container padder">
	<div class="breadcrumb">
	  <a href="javascript:void(0)">Home</a>
	  <a href="javascript:void(0)">Builders</a>
	</div>


	<div class="search-tools">
	  <div class="search-field">
	  	<label for="city">City</label>
	  	<select name="city" id="city" style="display:none">
	  		<option value="">Choose city</option>
	  		<option value="sd">Bangalore</option>
	  		<option value="sdsd">Chennai</option>
	  		<option value="sjdkl">Hyderabad</option>
	  	</select>
	  </div>
	  <div class="search-field last">
	  	<label for="builder">Builder</label>
	  	<select name="builder" id="builder" style="display:none"> 
	  		<option value="">Choose Builder</option>
	  		<option value="sd">Nilkamal</option>
	  		<option value="sdsd">Puravankara</option>
	  		<option value="sjdkl">Brigade</option>
	  		<option value="tes">Mantri</option>
	  	</select>
	  </div>
	</div>


	<div id='builders'class="padder">
		<% @builders.each do |b| %>
			<div class="each">
				<div class="hover-tile-outer" style="background: url(<%= b.image_url %>);background-size:cover">
				  <div class="hover-tile-container">
				    <div class="hover-tile hover-tile-visible"></div>
				    <div class="hover-tile hover-tile-hidden">
				      <a href="<%= frontend_builder_path(b.id) %>" class='white'>
				      	<h4><%= b.name.try(:upcase) %></h4>
				      	<p style="min-height:97px"><%= b.description %></p>
				      </a>
				    </div>
				  </div>
				</div>
			</div>
		<% end %>
	</div>
</div>


<% content_for :javascript do %>
	<script>
		$(document).ready(function() {
		 $('select').selectize();
		});
	</script>
<% end %>