@import 'center';
@import 'badges';

body{
	font-family: "europa", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

#top-header{
	@include outer-container;
}

.container{
	@include outer-container;	
}

.padder{
	padding: 65px 0px;
}


#partners img{
	height: 90px;
}

.full{
  width: 100%;
}

.spacer{
	min-height: 40px;
	max-height: 40px;
	height: 40px;
}

.custom{
	position: relative;
	border: 1px solid rgb(160, 159, 159);
	img{
		height: 159px;
		width: 100%;
		opacity: 0.3;
	}
	.plus{
		position: absolute;
		top: 20%;
		left: 22%;
		font-size: 33px;
		color: darkgrey;
		&:hover{
			color: rgb(124, 121, 121);
			-webkit-transition: color 0.5s;
			   -moz-transition: color 0.5s;
			    -ms-transition: color 0.5s;
			     -o-transition: color 0.5s;
			        transition: color 0.5s;
		}
	}
	&:hover{
		cursor: pointer;
	}
}

.btn-small{
	font-size: 0.8em !important;
	padding: 0.5em 0.75em !important;
}

.clearfix{
	@include clearfix();
}

.white{
	color: white;
	h4{
		color: white;
	}
}

#map { height:250px; }

.boxer{
	@include clearfix();
	.half{
		@include span-columns(6);
	}
	.half_last{
		@include span-columns(6);	
		@include omega();
	}
}

.box{
	width: 40%;
	margin: 40px auto;
	padding: 20px 40px;
	background: aliceblue;
	border: 1px solid #e3e3e3;
}
.box-big{
	width: 60%;
}
