body{
	font-family: "europa", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

#top-header{
	@include outer-container;
}

.container{
	@include outer-container;	
}

.padder{
	padding: 65px 0px;
}


#partners img{
	height: 90px;
}
