<div id="top-header">
  <a href="">&nbsp;</a>  
</div>
<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="<%= root_url %>" class="logo">
      <%= image_tag 'logo.png' %>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    
    <div class="navigation-tools">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><%= link_to 'Builders', builders_path %></li>
        <li class="nav-link"><%= link_to 'Apartments', apartments_path %></li>
        <li class="nav-link"><a href="javascript:void(0)">Request Custom Design</a></li>
      </ul>
    </div>
  </div>
</header>
