<html>
<head>
<style>
.const
{
width: 300;
height: 3000;
}
</style>
</head><body>
     <%= image_tag "Construction.jpg", :style =>"width:500px; height:500px; padding-left:400px;", :alt=> "client"%>
</body></html>