<style>
	img{
		width: inherit !important;
	}
	.custom_design_form{
		width: 63%;
		margin: 10px auto;
		background: aliceblue;
		padding: 55px;
		border: 1px solid #e3e3e3;
		border-radius: 4px;
		text-align: center;
		font-size: 26px;
	}
	.custom_design_form i{
		font-size: 113px;
		color: rgb(134, 198, 36);
	}
</style>
<div class="container padder">
	<div class="custom_design_form">
		<h2>Success</h2>
		<p><i class='fa fa-check-circle'></i></p>
		<p>We've received your request. Our Houzome team will contact you soon.</p>
	</div>
</div>