<div class="msg-wrap fixed"><h1>freegift banner attached Here</h1></div>

            <div class="clearfix"></div>

            <div class="order-content-container">
                <div class="order-content container">
                    <h1 class="title" style="text-align: center;">Post Your Query</h1>
                    <h4 style="text-align: center;">
                        Looking to get interior for your house done? Please give us the information below and we will contact you…
                    </h4>
                    <div class="clearfix"></div>
        		<%= simple_form_for @order, url: custom_design_path do |o| %>
                        <div class="post-query-form-content">
                            <input type="hidden" value="✓" name="utf8">
                            <input type="hidden" value="" name="authenticity_token">
                            <div class="input hidden order_order_type">
                                <input type="hidden" id="order_order_type" name="order[order_type]" class="hidden" value="Custom">
                            </div>
                            <div class="input string required order_name">
                                <label for="order_name" class="string required"> Name*</label>
                                <input type="text" id="order_name" name="order[name]" class="string required" value="">
                            </div>
                            <div class="input string optional order_mobile">
                                <label for="order_mobile" class="string optional">Mobile</label>
                                <input type="text" id="order_mobile" name="order[mobile]" class="string optional" value="">
                            </div>
                            <div class="input email required order_email">
                                <label for="order_email" class="email required"> Email Address*</label>
                                <input type="email" id="order_email" name="order[email]" class="string email required" value="">
                            </div>
                            <div class="input string optional order_flat">
                                <label for="order_flat" class="string optional">Apartment Name</label>
                                <input type="text" id="order_apartment" name="order[apartment_name]" class="string optional" placeholder="Apartment Name">
                            </div>
                            <div class="input string optional order_flat">
                                <label for="order_flat" class="string optional">Tower</label>
                                <input type="text" id="order_tower" name="order[tower]" class="string optional" placeholder="Tower">
                            </div>
                            <div class="input string optional order_flat">
                                <label for="order_flat" class="string optional">Flat</label>
                                <input type="text" id="order_flat" name="order[flat]" class="string optional" placeholder="Flat">
                            </div>
                            <div class="input text optional order_apartment_address">
                                <label for="order_apartment_address" class="text optional">Apartment address</label>
                                <textarea id="order_apartment_address" name="order[apartment_address]" class="text optional" placeholder="Apartment Name &amp; Address">
</textarea>
                            </div>
                            <div class="input string optional order_city">
                                <label for="order_city" class="string optional">City</label>
                                <input type="text" id="order_city" name="order[city]" class="string optional">
                            </div>
                            <div class="input text optional order_special_request">
                                <label for="order_special_request" class="text optional">Special request</label>
                                <textarea id="order_special_request" name="order[special_request]" class="text optional" style="height: 81px;"></textarea>
                            </div>
                            <input type="submit" value="Submit Query" name="commit">
                            <% end %>
                        </div>
                        <div class="clearfix"></div>

                </div>
            </div>