<div class="main-header">
    <div class="align">
    	<div class="page-title">
         <h3>Edit Master Design</h3>
    	 <span></span>
    	</div><!-- /page-title -->
    	
    	<ul class="page-stats">
    	 <%= button_to 'Design List', designs_path, method: 'get' %>
    	</ul><!-- /page-stats -->
    </div>
</div>

<div class="padding-md">
  <%= render 'form', url: design_path(@design.id) %>
</div>