@charset "utf-8";


@import "normalize-rails";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "refills/flashes";
@import "plugins/animate";
@import "refills/flex-boxes";
@import "refills/footer";
@import "refills/comment";
@import "refills/tables";
@import "refills/hero";
@import "refills/cards";
@import "refills/stats";
@import "refills/breadcrumbs";
@import "shared/header";
@import "shared/tools";
@import "plugins/zoom";
@import "font-awesome";
@import 'selectize';
@import 'selectize.default';


body{
	background: #f1f5fc;
}
#wrapper{
	@include clearfix;

	#top-nav{
		@include span-columns(12);
		@include omega();
	}
	#sidebar{
		@include span-columns(1.8, block-collapse);
		position: fixed;
		height: 100%;
		background: rgb(50, 52, 54);
		padding-top: 140px;
		li{
			margin: 13px 0px;
		}
		a{
			color: rgb(125, 128, 130);
			text-transform: uppercase;
			padding-left: 20px;
			font-size: 15px;
			&:hover{
				color: white;
			}
		}
		.menu-icon{
			padding-right: 6px;
		}
	}
	#main-container{
		@include span-columns(10.2);
		@include shift(1.8);
		@include omega();
		footer{
			position: absolute;
			bottom: 0px;
			right: 0px;
			left: 15.35365%;
			padding: 0px 30px;
			border-top: 1px solid #e3e3e3;
			background: #fff;
		}
	}
}

.main-header{
	background: #FFF;
	padding: 15px 30px;

	.align{
		@include clearfix;
	}
	.page-stats{
		@include span-columns(6);
		text-align: right;
		@include omega();
	}
	.page-title{
		@include span-columns(6);
		position: relative;
		  -webkit-transform: translateY(33%);
		  -ms-transform: translateY(33%);
		  transform: translateY(33%);
	}
}

.apartment_details{
	@include clearfix();
	.flats{
		@include span-columns(6);
	}
	.towers{
		@include span-columns(6);	
		@include omega();
	}
}

table{
	caption{
		text-align: left;
		padding-bottom: 10px;

		form{
			float: right;
			opacity: 0;
			@include transition(opacity 0.3s ease-in 0s);
		}
		.text{
			display: inline-block;
			font-weight: bold;
			cursor: pointer;
		}
	}
}

.hiddener{
	&:hover{
		form{
			opacity: 1;
		}
	}	
}

.comment .comment-image-big{
	img{
		width: 9em;
		padding: 0px;
		background: none;
	}
}