@charset "utf-8";

@import "normalize-rails";
@import "bourbon";
@import "neat";
@import "refills/flashes";
@import "shared/header";
@import "shared/tools";
@import "refills/breadcrumbs";
@import "refills/footer";
@import "refills/hover_tile";
@import "refills/side-image";
@import "refills/dynamic-height";
@import "refills/modal";
@import "plugins/owlcarousel";
@import "plugins/owltheme";
@import 'plugins/owltransitions';
@import 'plugins/zoom';
@import 'plugins/sweet_alert';
@import "font-awesome";
@import 'selectize';
@import 'selectize.default';

$mobile: new-breakpoint(max-width 500px 4);

.search-tools{
  @include outer-container;
	.search-field{
		@include span-columns(3);
	}

  .last{
    @include omega();
  }
}


.apartment__block{
	@include outer-container;
	.master{
		@include span-columns(8);
		@include media($mobile) {
		  @include span-columns(4);
		}
	}
	.content{
		@include span-columns(4);	
		@include omega();
		@include media($mobile) {
		  @include span-columns(4);
		}
	}
}


#portfolio-images{
	@include outer-container;
	.image{
		@include span-columns(4);
		@include omega(3n);
		img{
			height: 65px;
			max-height: 65px;
  			width: 100%;
		}
	}
}


#apartments{
  @include outer-container;
  $mobile: new-breakpoint(max-width 500px 4);
  .each{
    @include span-columns(4);
    @include omega(3n);
    margin-bottom:25px;

    @include media($mobile) {
      @include span-columns(4);
      @include omega(1n);
    }
  }
}
