@charset "utf-8";

@import "normalize-rails";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "refills/flashes";
@import "plugins/animate";
@import "shared/header";
@import "shared/tools";
@import "refills/breadcrumbs";
@import "refills/flex-boxes";
@import "refills/footer";
@import "plugins/owlcarousel";
@import "plugins/owltheme";
@import 'plugins/owltransitions';


#banner img{
	width: 100%;
	height: 500px;
}

.animated {
visibility:hidden;
-webkit-animation-delay: 0.3s;
-moz-animation-delay: 0.3s;
-o-animation-delay: 0.3s;
-ms-animation-delay: 0.3s;
}

.owl-item.animated {
	visibility: visible;
}