<footer class="footer" role="contentinfo">
  <div class="footer-logo">
  
  </div>
  <div class="footer-links">
    <ul>
     <!--  <li><h3>Pages</h3></li>
      <li><a href="javascript:void(0)">About Us</a></li>
      <li><a href="javascript:void(0)">Contact Us</a></li>
      <li><a href="javascript:void(0)">FAQ</a></li>
      <li><a href="javascript:void(0)">Partners</a></li> -->
    </ul>
    <ul>
      <li><h3 class="">Follow Us</h3></li>
      <li>
        <a href="https://www.facebook.com/pages/Houzome/121190538228537?fref=ts" target="_blank">
            <i class="fa fa-facebook fa-lg">&nbsp;</i>
          Facebook
        </a>
      </li>
      <!-- <li>
        <a href="#" target="_blank">
            <i class="fa fa-twitter fa-lg"></i>
          Twitter
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
            <i class="fa fa-instagram fa-lg">&nbsp;</i>
          Instagram
        </a>
      </li> -->
      <li><a href="javascript:void(0)">
      <i class='fa fa-pencil'>&nbsp;</i>
      Blog</a></li>
    </ul>
    <ul>
      <!-- <li><h3>Legal</h3></li>
      <li><a href="javascript:void(0)">Terms and Conditions</a></li>
      <li><a href="javascript:void(0)">Team</a></li>
      <li><a href="javascript:void(0)">Media</a></li> -->
    </ul>
  </div>
  <div>
    
  </div>
  <hr>

  <p>© 2015. Houzome Decor & Furnishing Pvt Ltd. </p>
</footer>
