<div class="main-header">
    <div class="align">
    	<div class="page-title">
    	    <h3>New Apartment</h3>
    	    <span></span>
    	</div><!-- /page-title -->
    	
    	<ul class="page-stats">
    	    
    	</ul><!-- /page-stats -->
    </div>
</div>

<%= render "application/flashes" -%>

<div class="padding-md">
  <%= render 'form', url: builder_apartments_path %>
</div>