<div class="main-header">
    <div class="align">
    	<div class="page-title">
    	    <h3>Apartment</h3>
    	    <span></span>
    	</div><!-- /page-title -->
    	
    	<ul class="page-stats">
    	    
    	</ul><!-- /page-stats -->
    </div>
</div>

<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo"><%= image_tag 'builder_logo' %></a>
      <div class="hero-copy">
          <h1><%= @apartment.name.try(:capitalize) %></h1>
          <p>  </p>    
      </div>
  </div>
</div>
<div class="padding-md">
  
</div>