<div class="main-header">
    <div class="align">
    	<div class="page-title">
    	    <h3>Customers</h3>
    	    <span></span>
    	</div><!-- /page-title -->
    	
    	<ul class="page-stats">
        
    	</ul><!-- /page-stats -->
    </div>
</div>

<%= render "application/flashes" -%>

<div class="padding-md" style="text-align:center">
  <p><%= image_tag 'working', style: 'width:300px;height:240px' %></p>
  <p>Page coming soon</p>
</div>