<div class="container padder">
	<div class="breadcrumb">
	  <a href="javascript:void(0)">Home</a>
	  <a href="javascript:void(0)">Apartments</a>
	</div>


	<div class="search-tools">
	  <div class="search-field">
	  	<label for="city">City</label>
	  	<select name="city" id="city" style="display:none">
	  		<option value="">Choose city</option>
	  		<option value="sd">Bangalore</option>
	  		<option value="sdsd">Chennai</option>
	  		<option value="sjdkl">Hyderabad</option>
	  	</select>
	  </div>
	  <div class="search-field last">
	  	<label for="apartment">Apartment</label>
	  	<select name="apartment" id="apartment" style="display:none"> 
	  		<option value="">Choose Apartment</option>
	  		<option value="sd">Nilkamal</option>
	  		<option value="sdsd">Puravankara</option>
	  		<option value="sjdkl">Brigade</option>
	  		<option value="tes">Mantri</option>
	  	</select>
	  </div>
	</div>


	<div id='apartments' class="padder">
		<div class="each">
			<div class="hover-tile-outer">
			  <div class="hover-tile-container">
			    <div class="hover-tile hover-tile-visible"></div>
			    <div class="hover-tile hover-tile-hidden">
			      <h4>apartment 1</h4>
			      <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p>
			    </div>
			  </div>
			</div>
		</div>
		<div class="each">
			<div class="hover-tile-outer">
			  <div class="hover-tile-container">
			    <div class="hover-tile hover-tile-visible"></div>
			    <div class="hover-tile hover-tile-hidden">
			      <h4>apartment 2</h4>
			      <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p>
			    </div>
			  </div>
			</div>
		</div>
		<div class="each">
			<div class="hover-tile-outer">
			  <div class="hover-tile-container">
			    <div class="hover-tile hover-tile-visible"></div>
			    <div class="hover-tile hover-tile-hidden">
			      <h4>apartment 3</h4>
			      <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p>
			    </div>
			  </div>
			</div>
		</div>

		<div class="each">
			<div class="hover-tile-outer">
			  <div class="hover-tile-container">
			    <div class="hover-tile hover-tile-visible"></div>
			    <div class="hover-tile hover-tile-hidden">
			      <h4>apartment 4</h4>
			      <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p>
			    </div>
			  </div>
			</div>
		</div>
		<div class="each">
			<div class="hover-tile-outer">
			  <div class="hover-tile-container">
			    <div class="hover-tile hover-tile-visible"></div>
			    <div class="hover-tile hover-tile-hidden">
			      <h4>apartment 5</h4>
			      <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p>
			    </div>
			  </div>
			</div>
		</div>

	</div>
</div>


<% content_for :javascript do %>
	<script>
		$(document).ready(function() {
		 $('select').selectize();
		});
	</script>
<% end %>